<main class="auth-page log-in">

  <h1>One account. All of this App.</h1>

  <h3> Sign in to continue to Pmail </h3>


  <form class="log-in-form auth-page-form" action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="text" name="username" value="" placeholder="Enter Your Email">
    <input type="password" name="pass" value="" placeholder="Password">

    <button>Sign In</button>

    <button form="demo-button">Demo Account</button>

  </form>

  <form id="demo-button" class="demo-account-button auth-page-form" action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="hidden" name="username" value="ubermensch">
    <input type="hidden" name="pass" value="Will2Power">
  </form>


  <a class="new-user-link" href="<%= new_user_url %>" >Create account</a>
</main>
